<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mytitle %></title>
</head>
<body>
    <h1>what is your name</h1>
    <form method="post" action="/" >
    <input type="text" name="userNameee">
    <br>
    <br>
    <button>send to DB</button>
    </form>
    <% const name='ayoub' %>
    <%= name %>
</body>
</html>